* {
    margin: 0;
    padding: 0;
}

html {
    display: grid;
    place-content: center;
    width: 100dvw;
    height: 100dvh;
}

body {
    display: grid;
    place-content: center;
    width: 100dvmin;
    height: 100dvmin;
    background-color: #36393F;
}

main {
    display: grid;
    place-content: center;
}


#danngen {
    width: 80dvmin;
    border-radius: 50%; 
    filter: invert(100%);
}

#phrase {
    font-size: 5dvmin;
    margin: 4dvmin;
    color: #DCDDDE;
}

#zettai {
    width: 80dvmin;
    border-radius: 50%;
    filter: invert(100%);
}